<section class="newuser">
<mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput #firstName>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput #lastName>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>e-mail</mat-label>
    <input matInput placeholder="sample@example.com" #email>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>birth date</mat-label>
    <input matInput placeholder="1977-07-17" #birthDate>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>registration date</mat-label>
    <input matInput placeholder="2023-07-17" #registrationDate>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>ip address</mat-label>
    <input matInput placeholder="127.0.0.1" #ipAddress>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>status</mat-label>
    <input matInput placeholder="lead" #status>
</mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button (click)="newUser(firstName.value,lastName.value,email.value,birthDate.value,registrationDate.value,ipAddress.value,status.value)" mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
  </mat-dialog-actions>
</section>